* {
    margin: 0px;
}

header, footer {
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
    gap: 30px;

}

a {
    display: inline;
    position: relative;
    color: black;
    text-decoration: none;
}

.imageprofile {
    width: 20%;
    height: 10%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    font-family: 'Roboto Slab', serif;
    font-size: 1.3em;
    padding-bottom: 1%;
    padding-top: 1%;
}

nav a:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 1px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: #76A89D;
}

 nav a:hover:after {
    width: 100%;
  }

.section-0 {
    background-image: url('./images/banniere.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 10%;
    padding-left: 30%;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 2.5em;
    color: black;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
}

h4 {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    color: black;
    padding-top: 5%;
}

.section-0 a {
    display: block;
    margin-top: 5%;
}

.section-0 a:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 1px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: #76A89D;
}

.section-0 a:hover:after {
    width: 10%;
  }

.section-1 {
    padding-top: 10%;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
}

h5 {
    font-family: 'Cinzel', serif;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 5%;
    font-size: 1.5em;
    text-decoration: underline #76A89D;
}

div p  {
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
    padding-bottom: 15px;
    padding-right: 50px;
}

.pourquoi2 {
    text-align: center;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    font-size: 1.1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

.click {
    width: 10%;
    border: #76A89D solid;
    background-color: #76A89D;
    color: white;
    margin: auto;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
    padding: 2%;
    display: block;
    border-radius: 20px;
    width: 15%;

}

.click:hover {
    box-shadow: black;
    background-color: #435e58;
    border-color: #435e58;
}

.profile {
    width: 27%;
    height: 40%;
    box-shadow: 12px 12px 2px 1px #75A99E;
}

.groscontenaire {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.megacontenaire {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2em
}

.section-1 {
    background-color: white;
    padding-bottom: 10%;
}

.dip2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.diplome {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5em;
    padding-bottom: 10%;
}

.dev {
    width: 30%;
    height: 30%;
    box-shadow: 12px 12px 2px 1px #75A99E;
}

.dip1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.bts {
    display: flex;
    justify-content: center;
    gap: 5em;
    padding-bottom: 10%
}

.fruit {
    width: 30%;
    height: 30%;
    box-shadow: 12px 12px 2px 1px #75A99E;
}

.dip3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.bac {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5em;
    padding-bottom: 10%
}

.sciences {
    width: 30%;
    height: 30%;
    box-shadow: 12px 12px 2px 1px #75A99E;
}

.nomdiplome {
    font-family: 'Cinzel', serif;
    font-size: 2em;
    color:#435e58;

}

.section-3 {
    background-color: #435e58;
}

.section-3 h5 {
    padding-top: 5%;
    color: white;
    text-decoration: underline #435e58;
}

.section-3 p {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding-bottom: 3%;
    color: white
}

.section-3 ul li {
    margin-left: 40%;
    padding-top: 1%;
    font-family: 'Roboto Slab', serif;
    color: white
}

li::marker {
    color: #75A99E;
}

ul {
    padding-bottom:10%;
}

.section-4 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.section-5 {
    padding-left: 10%;
    padding-bottom: 10%;
}

h6 {
    font-weight: bold;
    font-family: 'Cinzel', serif;
    font-size: 1.1em;
    padding-top: 5%;
}

.texte {
    display: flex;
    flex-direction: column;
}

.section-5 img {
    width: 50%;
    height: 10%;
}

.texteimg {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 2em;
}

.section-6 {
    padding-bottom: 10%;
    background-image: url(images/bureau.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contacter {
    font-size: 1.5em;
    margin-right: 20%;
    margin-left: 20%;
    padding: 3%;
    border: solid 5px #688D85;
    background-color: #688D85;
    color: white;
}

.contacter p {
    text-align: center;
}


footer {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
}

#back {
    position: fixed;
    top: 93%;
    left: 93%;
}

.retourhautdepage {
    width: 5em;
    height: 5em;
    background-color: transparent;
}

