* {
    margin: 0px;
}

header, footer {
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
    gap: 30px;

}

a {
    display: inline;
    position: relative;
    color: black;
    text-decoration: none;
}

.imageprofile {
    width: 20%;
    height: 10%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    font-family: 'Roboto Slab', serif;
    font-size: 1.3em;
    padding-bottom: 1%;
    padding-top: 1%;
}

nav a:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 1px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: #76A89D;
}

 nav a:hover:after {
    width: 100%;
  }

.Presentation {
    background-image: url('./images/banniere.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 2.5em;
    color: black;
    padding-top: 20%;
    padding-left: 40%;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    padding-left: 40%;
    padding-bottom: 5%;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    padding-left: 40%;
}

h4 {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    color: black;
    padding-top: 5%;
    padding-left: 40%;
    padding-bottom: 10%;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
}

h5 {
    font-family: 'Cinzel', serif;
    padding-left: 10%;
    padding-top: 13%;
    padding-bottom: 5%;
    font-size: 1.5em;
}

.pourquoi {
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.pourquoi2 {
    text-align: center;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    font-size: 1.1em;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

.click {
    width: 10%;
    border: #76A89D solid;
    background-color: #76A89D;
    color: white;
    margin: auto;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
    padding: 1%;
    display: block;
    border-radius: 20px;

}

.click:hover {
    box-shadow: black;
    background-color: #688D85;
    border-color: #688D85;
}

.profile {
    width: 20%;
    height: 30%;
    box-shadow: 12px 12px 2px 1px #75A99E;
}

.groscontenaire {
    display: flex;
    flex-direction: column;
}

.megacontenaire {
    display: flex;
    padding: 2%;
    align-items: center;
}

.section2 {
    background-color: white;
    padding-bottom: 50px;
}

.logolien {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.logolien2 {
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    gap: 3px;
    padding-bottom: 50px;
}
.img2 {
    width: 100px;
    height: 100px;
}

a img:hover {
    opacity: 50%;
}



.dip2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.diplome {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5em;
    padding-bottom: 10%;
}

.dev {
    width: 30%;
    height: 30%;
    box-shadow: 12px 12px 2px 1px #75A99E;
}

.dip1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.bts {
    display: flex;
    justify-content: center;
    gap: 5em;
    padding-bottom: 10%
}

.fruit {
    width: 30%;
    height: 30%;
    box-shadow: 12px 12px 2px 1px #75A99E;
}

.dip3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.bac {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5em;
    padding-bottom: 10%
}

.sciences {
    width: 30%;
    height: 30%;
    box-shadow: 12px 12px 2px 1px #75A99E;
}

.nomdiplome {
    font-family: 'Cinzel', serif;
    font-size: 2em;
    color:#75A99E;

}

footer {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
}

#back {
    position: fixed;
    top: 93%;
    left: 93%;
}

.retourhautdepage {
    width: 5em;
    height: 5em;
    background-color: transparent;
}