

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 2560px */
@media screen and (max-width: 2560px) {
    h1 {
        padding-left: 30%;
        padding-bottom: 2%;
    }
    h2 {
        padding-bottom: 1%;
    }
    .groscontenaire {
        padding-top: 5%;
        gap:8em;
        justify-content: center;
    }
    h4 {
        padding-left: 200px;
    }
    button {
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100%;
        gap: 15px;
        padding-left: 15%;
        padding-right: 15%;
    }
    .responsive-phone {
        display: none;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    h1 {
        padding-left:15%;
    }
    h4 {
        padding-left: 3%;
    }
    .txtcontenu {
        font-size: 1.1em;
    }
    .responsive-phone {
        display: none;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    h1 {
        padding-left: 17%;
        font-size: 0.8em;
    }
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 1em;
    }
    .groscontenaire {
        gap: 5em;
    }
    h4 {
        font-size: 1.2em;
        padding-left: 0;
    }
    .responsive-phone {
        display: none;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    html {
        padding: 0%;
        margin: auto;
    }
    .groscontenaire {
        flex-direction: column;
        gap: 2em;
        padding-top: 2em;
    }
    h1 {
        padding-left: 4%
    }
    h2 {
        font-size: 2.6em;
    }
    h3 {
        font-size: 1.1em;
    }
    h4 {
        padding-left: 0%;
        font-size: 1em;
    }
    .button-choix {
        gap:1em;
    }
    #nom-langages {
        flex-direction: column;
        align-items: center;
    }
    h6 {
        width: 40%;
    }
    .conteneura {
        display: none;
    }
    .txtcontenu {
        display: none;
    }
    .grid img {
        display: none;
      }
    .grid {
        display: none;
      }
    .responsive-phone {
        display: flex;
        flex-direction: column;
        gap: 2em;
        align-items: center;
        font-optical-sizing: auto;
        font-weight:400;
        font-style: normal;
        letter-spacing: 3px;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 1em;
    }
    .image1 {
        background-image: url(images/Manga\ image.png);
        background-size: cover;
        background-position: center;
        padding: 100px;
        width: 30%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .image2 {
        background-image: url(images/meteo.jpg);
        padding: 100px;
        padding-top: 100px;
        padding-bottom: 100px;
        background-size: cover;
        background-position: center;
        width: 30%;
        color: black;
    }
    .image3 {
        background-image: url(images/In\ progess.jpg);
        padding: 100px;
        background-size: cover;
        background-position: center;
        width: 30%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    nav img {
        width: 3em;
        height:3em;
    }
}
@media screen and (min-width: 320px) and (max-width: 425px) {
    .button-choix {
        flex-direction: column;
        align-items: center;
    }
    button {
        width: 50%;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1em;
    }
    .click {
        font-size: 1em;
        width: 50%;
    }
    .liens {
        align-items: center;
    }
    footer img {
       display: none;
    }
    footer {
        font-size: 1em;
    }
}